<h2 class="class-2 text-center mt-5">Pressure chart</h2>
<div class="divchart">
    <canvas id="myChart"></canvas>
</div>
<div class="container-md mt-5">
    <p>
        Atmospheric pressure, also known as barometric pressure (after the barometer), is the pressure within the atmosphere of Earth. The standard atmosphere (symbol: atm) is a unit of pressure defined as 101,325 Pa (1,013.25 hPa; 1,013.25 mbar), which is equivalent to 760 mm Hg, 29.9212 inches Hg, or 14.696 psi. <br>
        A <b>barometer</b> is a scientific instrument used to measure atmospheric pressure, also called barometric pressure.
    </p>
</div>

