<h2 class="class-2 text-center mt-5">Temperature chart</h2>
<div class="divchart">
    <canvas id="myChart"></canvas>
</div>

<div class="container-md my-5">
    <p>
        <b>Temperature</b> is a physical quantity that expresses hot and cold. It is the manifestation of thermal energy, present in all matter, which is the source of the occurrence of heat, a flow of energy, when a body is in contact with another that is colder. <br><br>
        Temperature is measured with a thermometer.
    </p>
</div>
