<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav bg-light pt-5">
            <h4>User Details</h4>
            <ul class="nav">
                <li>Name: {{name}} </li>
                <li>Email: {{email}}</li>
                <li>Phone: {{phone}}</li>
                
            </ul>
            <ul class="nav nav-pills nav-stacked">
                <li class="w-100 mt-4"><button class="btn btn-dark w-100" routerLink='temperature' routerLinkActive='active'>Temperature</button></li>
                <li class="w-100 mt-2"><button class="btn btn-dark w-100" routerLink='humidity' routerLinkActive='active'>Humidity</button></li>
                <li class="w-100 mt-2"><button class="btn btn-dark w-100" routerLink='pressure' routerLinkActive='active'>Pressure</button></li>
            </ul>
            <div class="row">
                <button class="btn btn-success w-50 m-auto mt-5">Settings</button>
            </div>
            <div class="row">
                <button (click)="logOut()" class="btn btn-danger w-50 m-auto mt-2">Log out</button>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid my-5">
                <router-outlet></router-outlet>
            </div>
            <ul *ngFor='let message of messages'>
                <li>{{message}}</li>
            </ul>
        </div>
    </div>
</div>






