<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h2>Monitor weather notification platform</h2>
                <p> Monitor is cloud based sensor monitoring and alert management platform which can be used
                    to centrally monitor any device regardless of its location. The main functionality of the system is
                    to alert on certain events based on the readings coming from the sensors.
                    </p>
                <a (click)='goRegister()' class="btnD1">Register</a>
            </div>
        </div>
    </div>
</section>



<div class="container-fluid m-auto mt-5 mb-5">
    <div class="row">
        <div class="col-sm"><img src="../../assets/images/logo/angular.png" alt=""></div>
        <div class="col-sm"><img src="../../assets/images/logo/mongo.png" alt=""></div>
        <div class="col-sm"><img src="../../assets/images/logo/nifi.png" alt=""></div>
        <div class="col-sm"><img src="../../assets/images/logo/rest.png" alt=""></div>
        <div class="col-sm"><img src="../../assets/images/logo/spring.png" alt=""></div>
    </div>
</div>

<hr class="w-75 m-auto mb-5 bg-secondary">


<section class="body">
    <div class="container w-75 m-auto my-5">
        <div class="row">
            <div class="col-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="col-6">
                <img src="../../assets/images/users/about001.png" alt="">
            </div>
        </div>
    </div>
    <div class="container w-75 m-auto my-5">
        <div class="row">
            <div class="col-6">
                <img src="../../assets/images/users/about001.png" alt="">
            </div>
            <div class="col-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            
        </div>
    </div>
    <div class="container w-75 m-auto my-5">
        <div class="row">
            <div class="col-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="col-6">
                <img src="../../assets/images/users/about001.png" alt="">
            </div>
        </div>
    </div>
</section>