<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Monitor weather notification platform</h2>
                <p> Monitor is cloud based sensor monitoring and alert management platform which can be used
                    to centrally monitor any device regardless of its location. The main functionality of the system is
                    to alert on certain events based on the readings coming from the sensors.
                    </p>
                <a (click)='goRegister()' class="btnD1">Register</a>
            </div>
        </div>
    </div>
</section>