<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand px-5" href="#">Monitor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item active px-2">
          <a class="nav-link" routerLink='home' routerLinkActive='active'>Home</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" routerLink='profile' routerLinkActive='active'>Profile</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" routerLink='about' routerLinkActive='active'>About</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" routerLink='register' routerLinkActive='active'>Register</a>
        </li>
        <li class="nav-item px-2 rightnav">
          <a class="nav-link" routerLink='login' routerLinkActive='active'>Login</a>
        </li>
      </ul>
    </div>
  </nav>



<div>
    <router-outlet></router-outlet>
</div>


  <footer class="site-footer mt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify"><b>"Monitor"</b> is a cloud-based sensor monitoring and alert management platform which can be used
            to centrally monitor any device regardless of its location. The main functionality of the system is
            to alert on certain events based on the readings coming from the sensors. There are three sensors. those are, Temperature sensor, Humidity sensor and Pressure sensor.
            .If the current sensor
            reading goes above a certain threshold the user is able to get an notification through which notification method he likes.
            

            </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="#">Temperature</a></li>
            <li><a href="#">Humidity</a></li>
            <li><a href="#">Pressure</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Past events</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Signup</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Scanfcode</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>