<h2 class="class-2 text-center mt-5">Humidity chart</h2>
<div class="divchart">
    <canvas id="myChart"></canvas>
</div>

<div class="container-md my-5">
    <p>
        Humidity is the concentration of water vapor present in the air. Water vapor, the gaseous state of water, is generally invisible to the human eye. Humidity indicates the likelihood for precipitation, dew, or fog to be present. <br>
        Levels of humidity are measured using an instrument called a <b>hygrometer</b>. A simple hygrometer is known as a psychrometer which consists of a dry bulb and a wet bulb thermometer. Evaporation from the wet bulb lowers its temperature thus usually reads lower than the dry bulb.
    </p>
</div>

